Prueba

<app-test></app-test>

<div style="border: 1px solid red;">
  <app-test age="3" (clickAge)="saveClickChild($event)"></app-test>
</div>

<div style="border: 1px solid red;">
  <app-component-input-output name="Cesar" age="20" description="Persona viva" (click)="print($event)"></app-component-input-output>
</div>

<app-ciclos-de-vida *ngIf="sw" name="Cesar"> </app-ciclos-de-vida>
<button (click)="sw = !sw;">Change sw</button>

<app-solo-ts></app-solo-ts>

<div *ngFor="let person of persons; let i = index">
  <p>{{person}}-------------{{i}}</p>
</div>

<div style="border: 1px solid blue" [ngSwitch]="switch">
  <p>Switch</p>
  <p *ngSwitchCase="3">Case 1: El valor es 3</p>
  <p *ngSwitchCase="2">Case 2: El valor es 2</p>
  <p *ngSwitchDefault>Case 3: Es cualquier otro valor</p>
</div>

<div style="border: 1px solid green; color: pink">
  <p>Style regular</p>
</div>

<div [ngStyle]="{'border': '1px solid ' + styleColor, 'color': styleColor}">
  <p>Style con Angular</p>
  <button (click)="styleColor='red'">rojo</button>
  <button (click)="styleColor='yellow'">amarillo</button>
  <button (click)="styleColor='green'">verde</button>
</div>

<div [style.color]="styleColor" [style.border]="'1px solid blue'">
  Autos
</div>

<div [ngClass]="{'test1': class, 'test2': !class}">
  <p>Ejemplo ngClass</p>
  <button (click)="class = !class">Cambiar clase</button>
</div>

<div [class.test1]="class">
  Ejemplo "class.test1"
</div>
