<h1>ELECCIONES</h1>
<div style="border: 1px solid blue;background: dodgerblue">Votos: {{votos}}, Habilitados: {{habilitados}}, Inhabilitados: {{inhabilitados}}</div>
<div *ngIf="habilitados===votos" style="border: 1px solid green; background: lawngreen">TODOS YA VOTARON</div>
<div>Mayores 65</div>
<div *ngFor="let votante of votantes">
  <app-votante *ngIf="votante.edad > 65" [nombre]="votante.nombre"
               [edad]="votante.edad"
               [habilitado]="votante.habilitado">
  </app-votante>
</div>

<div>Menores 65</div>
<div *ngFor="let votante of votantes">
  <app-votante *ngIf="votante.edad <= 65" [nombre]="votante.nombre"
               [edad]="votante.edad"
               [habilitado]="votante.habilitado">
  </app-votante>
</div>
